/*////////////////////////////////////////////// RESET ////////////////////////////////////////////////*/

html,body{ 
	margin:0;
	padding:0;
}
fieldset,img { 
	border:0;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
/*//////////////////////////////////////////////////// UTILS /*/
.clr{
	position:relative;
	width:1px;
	height:1px;
	margin-left:-1px;
	margin-bottom:-1px;
	font-size:1px;
	clear:both;
	line-height:1px;
}
.left, .right{
	position:relative;
	float:left;
}
.right{
	float:right;
}

/*//////////////////////////*/
#body{
	color:#333;
	background:url('http://som.ucsd.edu/images/bgBody.gif') repeat-x #e9e9d4;
}
.dropdown{
	position:relative;
	left:635px;
	bottom:0;
	width:238px;
	height:27px;
	list-style:none;
	z-index:1000;
	margin:0;
	padding:0 0 0 10px;
}
ul.dropdown li{
	background: transparent url('http://som.ucsd.edu/images/arrow_gray.gif') no-repeat scroll right center;	
	font-size:1px;
}
 ul.dropdown:hover{
	background: url('http://som.ucsd.edu/images/bkgd_nav_gold_gradient.png') repeat-y scroll top left;
}

ul.dropdown li a{
	font:normal 11px Arial,Helvetica, sans-serif;
	color:#666;
	text-decoration:none;
	line-height:27px;
	
}
ul.dropdown li a:hover{
	text-decoration:none;
}
ul.dropdown li ul{
	display:none;
}


ul.dropdown li:hover ul{
	list-style:none;
	display:block;
	position:absolute;
	width:248px;
	left:0px;
	top:27px;
	margin:0;
	padding:0 0 4px 0;
	background: url('http://som.ucsd.edu/images/bgDropMenuGold.png') no-repeat scroll left bottom;
}
ul.dropdown li:hover ul li{
	position:relative;
	padding:0 0 0 10px;
	height:auto;
	width:238px;
	line-height:20px;
	background-image:none;
	background: url('http://som.ucsd.edu/images/bkgd_nav_gold_gradient.png') repeat-y scroll top left;
}
ul.dropdown li:hover ul li a{
	color:#fff;
	display:block;
	width:235px;
}
ul.dropdown li ul li:hover{
	background: url('http://som.ucsd.edu/images/bgTopNavHovGold.png') repeat-y scroll top left;
	color:#fff;
	text-decoration:none;
}

.wrapper{
	position:relative;
	padding: 5px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	width:963px;
}
.bigwrapper{
	position:relative;
	padding: 0px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
.wrapper2{
	position:relative;
	width:960px;
	padding:0 0 0 0;
	background:url('http://som.ucsd.edu/images/bgWrapper2.gif') repeat-y;
}
.topLinkRight{
	display:block;
	margin:0 25px 0 0;
	padding:10px 14px 10px 0;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#666;
	text-decoration:none;
	background:url('http://som.ucsd.edu/images/bgTopLink.gif') right 12px no-repeat;
}
.headerWrapper{
	position:relative;
	width:960px;
	background:url('http://som.ucsd.edu/images/bgHeader.png') repeat-x;
}
.bigHeaderWrapper{
	position:relative;
	width:100%;
	background:url('http://som.ucsd.edu/images/bgHeader.png') repeat-x;
}
.topHeader{
	position:relative;
	width:962px;
	height:9px;
	background:url('http://som.ucsd.edu/images/bgTopHeader.gif') no-repeat;
	line-height:1px;
	font-size:1px;
}
.bigTopHeader{
	position:relative;
	width:100%;
	height:9px;
	line-height:1px;
	font-size:1px;
}
.topMenu{
	list-style:none;
	padding:0 28px 0 0;
	margin:0;
}
.topMenu li{
	display:inline;
	padding:0 7px;
	border-left:1px solid #fff;
	font:normal 11px Arial, Helvetica, sans-serif;
}
.topMenu li.first{
	border:none;
}
.topMenu li a{
	color:#fff;
}
.logo{
	vertical-align: middle;
	padding: 10px 0px 10px 10px; 
}
.tagline{
	padding:20px 63px 0 63px;	
}
.userheader {
	color:#FFFFFF;
	font-family:'Times New Roman';
	font-size:14px;
	font-weight: bold;
	text-align:right;
	vertical-align: bottom;
	padding: 0px 10px 10px 2px;
}
.userheader a { text-decoration: underline; color: #FFFFFF;}
.appheader {
	color:#FFFFFF;
	font-family:'Times New Roman';
	font-size:22px;
	text-align:left;
	vertical-align: middle;
	text-transform:uppercase;
	padding: 0px 0px 0px 0px; 
}
.appheader strong  
{ 
font-size:32px;
font-weight: normal;
}
/*///////////////////////TOP NAVIGATION*/
.topNav{
	position:relative;
	left:0;
	bottom:0;
	width:100%;
	height:34px;
	list-style:none;
	z-index:3;
	border-bottom:1px solid #c2d2e2;
	border-top:1px solid #c2d2e2;
	margin:0;
	padding:0;
	background:url('http://som.ucsd.edu/images/bgTopNav.png') repeat-x;
}
.topNav li{
	position:relative;
	float:left;
	height:34px;
	width:153px;
	padding:0;
	background:url('http://som.ucsd.edu/images/bgTopNav.png') repeat-x;
	border-left:1px solid #c7ccd9;
	text-align:center;
	line-height:30px;
	margin:0;
	text-transform:uppercase;
}
.topNav li.first{
	border:none;
	width:153px;
}
.topNav li.last{

}
.topNav li a{
	font:bold 11px Arial,Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	line-height:30px;
}
.topNav li a:hover{
	text-decoration:none;
}
.topNav li ul{
	display:none;
}
.topNav li:hover{
	background:url('http://som.ucsd.edu/images/bgTopNavHov2.gif') repeat-y;
	
}
.topNav li:hover a{
	color:#fff;

}
.topNav li:hover ul{
	list-style:none;
	display:block;
	position:absolute;
	width:234px;
	left:0px;
	top:34px;
	background:url('http://som.ucsd.edu/images/bgTopNavHov2.gif') repeat-y;
	padding:0;
	margin:0;
}
.topNav li:hover ul li{
	position:relative;
	padding:0;
	height:auto;
	width:100%;
	line-height:20px;
	background:url('http://som.ucsd.edu/images/bgTopNavHov2.gif') repeat-y;
}
.topNav li:hover ul li{
	border-left:none;
}
.topNav li:hover ul li a{
	display:block;
	position:relative;
	padding:5px 0 5px 10px;
	color:#fff;
	font-size:12px;
	text-transform:none;
	text-align:left;
	width:224px;
}
.topNav li ul li a:hover{
	background-color:#00245D;
	color:#fff;
	text-decoration:none;
}
/******************************CONTENT*/
.wrapperContent2{
	position:relative;
	background:url('http://som.ucsd.edu/images/bgWrapperCt2.gif') repeat-y;
}
.wrapperContent{
	padding:0;
	background: #FFFFFF url('http://som.ucsd.edu/images/column.png') -8px top no-repeat;
	position:relative;
	width:960px;
	z-index:1;
}
.pageContent a, a:visited{
	color:#055d89;
}
/*//////////////LEFT NAVIGATION*/
.leftSide{
	width:184px;
}
.leftNav{
	width:184px;
	list-style:none;
	padding:10px 0 0 0px;
	margin:0 0 35px 0;
}
.leftNav li{
	line-height:30px;
	background:url('http://som.ucsd.edu/images/arrow.gif') 20px 12px no-repeat;
	border-bottom:1px solid #fff;
}
.leftNav li a{
	display:block;
	font:normal 12px Arial,Helvetica, sans-serif;
	color:#055d89;
	text-decoration:none;
	line-height:30px;
	padding:0 0 0 35px;
}
.leftNav li a:hover{
	color:#055d89;
	background:url('http://som.ucsd.edu/images/arrowHov.gif') 20px 12px no-repeat #fff;
	text-decoration:none;
}	
.leftNav li.parent, .leftNav li.parent a:hover{
	background:url('http://som.ucsd.edu/images/downArrow.gif') 20px 12px no-repeat;
}
.leftNav li.selected{
	color:#055d89;
}
.leftNav li ul{
	list-style:none;
	display:block;
	background-color:#fff;
	width:184px;
	margin:0 0 0 0px;
	padding:0;
}
.leftNav li ul li{
	width:184px;
	padding:0;
	height:auto;
	background-image:none;
}
.leftNav li.parent ul li a{
	display:block;
	color:#055d89;
	font-size:12px;
	text-transform:none;
	text-align:left;
	padding:0px 0 0px 47px;
	background:url('http://som.ucsd.edu/images/bulletHov.gif') 37px 14px no-repeat #f8f5eb;	
	line-height:30px;
}
.leftNav li.parent ul li.selected a{
	color:#055d89;
	background:url('http://som.ucsd.edu/images/bullet.gif') 37px 14px no-repeat #fff;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.leftNav li.parent ul li a:hover{
	color:#055d89;
	background:url('http://som.ucsd.edu/images/bulletHov.gif') 37px 14px no-repeat #f8f5eb;
	text-decoration:none;
}

/*///////////////////////Display*/
.display{
	width:675px;
	padding:0 30px 5px 50px;
	font:12px/1.231 arial,helvetica,clean,sans-serif;	
}
.pageContentFull {
	width: 98%;
	background: #FFFFFF;
	padding: 5px 5px 5px 10px;
	font:12px/1.231 arial,helvetica,clean,sans-serif;	
}
.display a:link, .display a:visited {
	color: #055d89;
}
h1{
	color:#00245D;
	font:normal 24px Times New Roman, arial, sans-serif;
	font-variant:small-caps;
	padding:18px 0;
	margin:0;
}
h2{
	color:#00245D;
	font:normal 18px Times New Roman, arial, sans-serif;
	font-variant:small-caps;
	margin:0;
}
h3{
	color:#00245D;
	font:bold 12px Arial, Helvetica, sans-serif;
}
.pageContent{
	position:relative;
	font:normal 12px Arial, Helvetica, sans-serif;
	line-height:24px;
}
.pageContent p{
	padding:6px 0;
	margin:0;

}
.pageContent ul, .display ul{
	padding: 0 0 0 20px;
	margin:0;
	list-style:none;
}
.pageContent ul li{
	padding:0 0 0 20px;
	margin:0;
	background:url('http://som.ucsd.edu/images/bullet.gif') left center no-repeat;
}
.pageContent a{
	text-decoration:none;
}
.pageContent a:hover{
	text-decoration:underline;
}
/*////////////////////FOOTER*/
.footerContent{
	position:relative;
	width:963px;
	height:8px;
	font-size:1px;
	background:url('http://som.ucsd.edu/images/bgFooterContent.gif') left bottom no-repeat;
	line-height:1px;
}
.footer{
	position:relative;
	font:normal 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#666;
}
.address{
	font-weight:bold;
	font-size:12px;
	padding:10px 0 5px 0;
	text-align:center;
	margin:0;
}
.address li{
	display:inline;
	padding:0 14px 0 18px;
	background:url('http://som.ucsd.edu/images/bgAddress.gif') 2px 4px no-repeat;
}
.address li.first{
	background-image:none;
}
.footerNav{
	list-style:none;
	text-align:center;
	width:auto;
	margin:0 0 7px 0;
}
.footerNav li{
	display:inline;
	font:normal 12px Arial, Helvetica, sans-serif;
	border-left:1px solid #666;
	padding:0 6px;
}
.footerNav li.first{
	border:none;
}
.footerNav li a, .footerNav2 li a{
	color:#666;
	text-decoration:none;
}
.footerNav li a:hover, .footerNav2 li a:hover{
	text-decoration:underline;
}
.footerLogo{
	position:relative;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	border-top:1px solid #fff;
	margin-top:6px;
}
.logoFooter{
	padding:5px 0 6px 0;
}
.copyright{
	font:normal 12px Arial, Helvetica, sans-serif;

}
.copyright p{
	margin:0;
}
.footerNav2{
	list-style:none;
	text-align:center;
	padding:5px 0;
	margin:0;
}
.footerNav2 li{
	display:inline;
	border-left:1px solid #666;
	padding:0 5px;
}
.footerNav2 li.first{
	border:none;
}
.articleLayout .header{
	border:none;
}
/* for tables, just use <table class="styled"> */
.styled {margin-bottom:1em;border-top:1px solid #DDD;}
.styled th, .styled td {vertical-align:top;padding:2px 2px 2px 5px;}
.styled th {background:#DDD;font-weight:bold;}
.styled td {border-bottom:1px solid #DDD;}
.styled tr.even th {background:#BBB;}
.styled tr.even td {background:#E9F3FD;}

.colclass1
{
	width:70%;
	vertical-align: bottom;
	font-size:15px;
	font-weight: normal;
	text-align:left;
}
.colclass2
{
	width:30%;
	text-align:right;
	padding-right: 125px;
}

.activeTab
{
	background:#52A3CC;
	
}
.inactiveTab
{
	cursor: pointer;
	cursor: hand;
}

.userListSearch{
	position: relative;
	top:136px;
	
}
.userListTable{
	position: relative;
	top:-65px;
}

.rich-filter-input
{
       width: 85%; 
}
