.colclass1
{
	width:70%;
	vertical-align: bottom;
	font-size:15px;
	font-weight: normal;
	text-align:left;
}
.colclass2
{
	width:30%;
	text-align:right;
}

.stipNavPanel {
	clear: both;
	height: 23px;
	margin: 0;
	padding: 2px;
	width: 100%;
}